.skillsContainer {
    display: flex;
    flex-direction: row;
    margin: 15px;
    .skill {
        padding: 10px;
        width: fit-content;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        .skillLevel {
            background-color: white;
            color: #282c34;
        }
    }
}

.accordion {
    margin: 15px;
}
video {
    width:400px
}